.App {
  margin-top: 12%;
  text-align: center;
}
body {
  background-color: #e6e6e6;
}
h2 {
  color: green;
}
.add {
  font-size: 80%;
  position: relative;
  margin-right: 5px;
  background-color: green;
  color: white;
}
.subtract {
  font-size: 80%;
  position: relative;
  margin-right: 5px;
  background-color: red;
  color: white;
}